.container() {
  box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin: 0 auto; /* Центрирование блока */
  padding-left: 40px;
  padding-right: 40px;

  @media @bw1340 {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media @bw768 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.width_624 {
  box-sizing: border-box;
  width: 100%;
  max-width: 624px;
  @media @bw1660 {
    max-width: 604px;
  }
  @media @bw1340 {
    max-width: 566px;
  }
}

.title-texts {
  text-decoration: none; /* Убирает подчеркивание текста */
  border: 1px solid black; /* Граница */
  font-family: @font2;
  font-size: 36px;
  color: @white; /* Цвет текста для кнопок */
  background-color: @black;
  text-transform: uppercase; /* Преобразование текста в верхний регистр */
  display: block; /* Позволяет элементу занимать всю ширину родительского элемента */
  text-align: center; /* Центрирование текста внутри элемента */
  margin: 150px auto 150px; /* Центрирование самого элемента и отступ снизу на 150 пикселей */
  width: 624px; /* Максимальная ширина кнопки */
  max-height: 10.264%;
  @media @bw1340 {
    max-width: 604px;
  }
  @media @bw768 {
    max-width: 566px;
  }
  @media @bw600 {
    max-width: 100%;
  }
}

.display-none {
  display: none;
}

.color-red {
  color: @red;
}

.is-hidden {
  position: absolute !important; /* Абсолютное позиционирование для скрытия элемента */
  width: 0 !important; /* Ширина элемента равна 0 */
  height: 0 !important; /* Высота элемента равна 0 */
  margin: 0 !important; /* Убирает все отступы */
  padding: 0 !important; /* Убирает все внутренние отступы */
  border: 0 !important; /* Убирает границы элемента */
  clip: rect(0 0 0 0) !important; /* Обрезает элемент до нуля */
  clip-path: inset(100%) !important; /* Скрывает элемент с помощью clip-path */
  white-space: nowrap !important; /* Убирает перенос строк */
  overflow: hidden !important; /* Скрывает переполнение содержимого */
  visibility: hidden !important; /* Делает элемент невидимым */
  pointer-events: none !important; /* Игнорирует события указателя (клики и т.д.) */
}

.show-event-popup {
  body {
    overflow: hidden; /* Отключает прокрутку страницы при открытом попапе */
  }
  #eventPP {
    display: flex; /* Показывает попап с использованием flexbox */
  }
}

.text-hover(@color) {
  color: @color; // Меняет цвет текста
  text-decoration: underline; // Добавляет подчеркивание
  text-decoration-color: @color; // Устанавливает цвет подчеркивания
}

.for_arrows () {
    flex-shrink: 0; // Запрещает сжимать элемент при недостатке места
    position: relative; // Позволяет позиционировать дочерние элементы относительно этого элемента
    display: inline-block; // Позволяет элементу иметь размеры и располагаться в строке
    width: 92px; // Задает ширину элемента
    height: 60px; // Задает высоту элемента
    padding: 0; // Убирает внутренние отступы
    border: none; // Убирает рамку
    background: none; // Убирает фон
    color: @black; // Устанавливает цвет текста в черный
    font-size: 0; // Скрывает текст (если он есть)
    text-decoration: none; // Убирает подчеркивание
    transition: color 0.2s; // Плавный переход цвета при изменении
}
