// Цветовая палитра
@white: #ffffff;
@black: #1f1e1e;

@black_60: fade(@black, 60%);
@black_20: fade(@black, 20%);

@red: #BC3324;
@grey: #A51505;

//шрифты
@font1: "Open Sans", sans-serif;
@font2: "Lora", serif;
@font3: "mak", serif;