.art-title {
  padding-top: 100px;
  @media @bw1660 {
    margin-bottom: 100px;
  }
  @media @bw1340 {
    min-height: 52px;
    margin-bottom: 60px;
    font-size: 24px;
  }
  @media @bw768 {
    min-height: 42px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  @media @bw600 {
    min-height: 17px;
    margin-bottom: 30px;

  }
  &__text {
    vertical-align: middle; /* Вертикальное выравнивание по центру */
    font-family: Lora; /* Шрифт Lora */
    font-weight: 400; /* ширина шрифта */
    font-size: 45px; /* Размер шрифта 45 пикселей */
    line-height: 58px; /* Высота строки 58 пикселей */
    text-align: center; /* Центрирование текста */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    @media @bw1340 {
        padding: 11px 40px;
        font-size: 35px;
        line-height: 45px;
    }
    @media @bw768 {
        padding: 11px 20px;
        font-size: 30px;
        line-height: 38px;
    }
    @media @bw600 {
        padding: 11px 10px;
        font-size: 13px;
        line-height: 17px;
    }
  }

  &__lenni-picture {
    display: flex; /* Включаем Flexbox для картинки */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    width: 100%; /* Задаем ширину контейнера */
    padding-top: 16.927%;
    position: relative;
    margin: 0;

  }

  &__images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ограничьте максимальную ширину */
    height: 100%; /* Ограничьте максимальную высоту */
    object-fit: cover; /* Позволяет изображению занимать все пространство */
  }
}