.events_additional-services {
  .container();

  &__title {
    .title-texts();
    font-size: 22px;
  }

  &__text {
    width: 868px;
    text-align: left;
    font-family: @font1;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 60px;
    @media @bw400 {
      width: 100%;
    }
  }

  &__table {

    @media @bw400 {
      display: none;
    }
  }

  &__table320 {
    display: none;
    @media @bw400 {
      display: block;
    }
  }

}
