.form_check {
  box-sizing: border-box; /* Учитывает границы и отступы в ширине и высоте элемента */
  position: relative; /* Позволяет позиционировать дочерние элементы относительно этого элемента */
  display: inline-flex; /* Использует флексбокс для выравнивания дочерних элементов в строку */
  flex-direction: column; /* Устанавливает направление флекс-элементов вертикально */
  align-items: flex-start; /* Выравнивает дочерние элементы по началу контейнера */
  min-height: 24px; /* Устанавливает минимальную высоту элемента */
  padding-top: 2px; /* Отступ сверху */
  padding-left: 24px; /* Отступ слева */
  color: @black; /* Устанавливает цвет текста (черный) */
  margin-top: 15px; /* Отступ сверху от соседних элементов */
  margin-bottom: 40 px; /* Отступ снизу от соседних элементов */
  cursor: pointer; /* Изменяет курсор на указатель при наведении */

  &__title {
    .pp_title();
    margin-bottom: 10px;
  }
  &__input {
    .is-hidden();  /* Скрываем стандартный элемент <input> */
    &:checked {
      & ~ .form_check__mark {
        background-color: @black; /* Устанавливает фоновый цвет элемента в черный (переменная @black) */
        &::after { /* Псевдоэлемент, который добавляется после содержимого элемента */
          content: ""; /* Не отображает текст; используется для создания визуальных эффектов */
          display: block; /* Делает псевдоэлемент блочным, чтобы он занимал пространство */
          position: absolute; /* Позволяет позиционировать псевдоэлемент относительно ближайшего родителя с относительным позиционированием */
          left: 7px; /* Устанавливает расстояние от левого края родителя */
          top: 2px; /* Устанавливает расстояние от верхнего края родителя */
          width: 6px; /* Ширина псевдоэлемента */
          height: 12px; /* Высота псевдоэлемента */
          border-bottom: 2px solid @white; /* Устанавливает нижнюю границу в 2px белого цвета (переменная @white) */
          border-right: 2px solid @white; /* Устанавливает правую границу в 2px белого цвета */
          transform: rotate(45deg); /* Поворачивает псевдоэлемент на 45 градусов, создавая эффект стрелки или галочки */
        }
      }
    }
  }

  &__mark {
    box-sizing: border-box; /* Учитывает границы и отступы в ширине и высоте */
    display: block; /* Делает элемент блочным */
    position: absolute; /* Позволяет свободно позиционировать элемент */
    left: 0; /* Позиция слева */
    top: 0; /* Позиция сверху */
    width: 24px; /* Ширина элемента */
    height: 24px; /* Высота элемента */
    border: 1px solid @black; /* Черная рамка вокруг элемента */
  }

  &__label {
    margin-left: 15px; /* Отступ слева от метки */
    font-weight: 300; /* Устанавливает легкий шрифт */
    font-size: 16px; /* Размер шрифта */
    line-height: 22px; /* Высота строки */
    &--s {
      font-size: 14px; /* Размер шрифта для маленькой метки */
      line-height: 19px; /* Высота строки для маленькой метки */
    }
  }
}
