.home_big-text {
    weight: 100%;
    overflow: hidden; /* Скрываем часть текста, выходящую за пределы */
    font-size: 128px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 200px;
    font-family: @font3;

    p {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    &__first {
        text-align: left;
        margin-left: -52px;
        width: 2161px;
        height: 154px;
        white-space: nowrap; /* Запретить перенос текста */
    }

    &__second {
        text-align: right;
        margin-right: -189px;
    }
}