.i-want {
    width: 624px;
    margin: 0 auto; /* Центрируем контейнер */
    display: grid; /* Используем Grid Layout */
    margin-bottom: 135px;
    grid-template-areas:
        "text text"
        "btn1 btn2";
    grid-template-columns: 1fr 1fr; /* Одна колонка */

    justify-items: center; /* Центрируем элементы по горизонтали */
    align-items: center; /* Центрируем элементы по вертикали */
    gap: 40px; /* Промежутки между элементами */

    @media @bw1340 {
        max-width: 604px;
    }
    @media @bw768 {
        max-width: 566px;
    }
    @media @bw600 {
        grid-template-areas:
        "text"
        "btn1"
        "btn2";
        grid-template-columns: 1fr;
    }

    &__text {
        grid-area: text; /* Назначаем область для текста */
        font-family: Lora; /* Шрифт Lora */
        font-weight: 400; /* Нормальный вес шрифта */
        font-size: 22px; /* Размер шрифта 22 пикселя */
        max-height: 33.333%; /* Высота строки 30 пикселей */
        letter-spacing: 2%; /* Меж буквенный интервал 2% */
        text-transform: uppercase; /* Преобразование текста в верхний регистр */
        @media @bw768 {
          min-height: 32px;
          font-size: 16px;
        }
        @media @bw600 {
          min-height: 22px;
        }
    }

    &__btn1,
    &__btn2 {
        text-decoration: none; /* Убирает подчеркивание текста */
        border: 1px solid black; /* Граница */
        padding: 15px 40px; /* Отступы для кнопок */
        text-align: center;
        line-height: 1.5; /* Высота строки для текста кнопок */
        justify-self: center;

        @media @bw600 {
            display: flex; /* Используем Flexbox для кнопок */
            justify-content: center; /* Центрируем текст по горизонтали */
            align-items: center; /* Центрируем текст по вертикали */
            padding: 0px;
            width: 100%;
            height: 49px;
        }
    }

    &__btn1 {
        grid-area: btn1;
        color: @white; /* Цвет текста для кнопок */
        background-color: @red;
        border: none;
        justify-self: start; /* Выравниваем btn1 по левому краю */
    }

    &__btn2 {
        grid-area: btn2;
        justify-self: end; /* Выравниваем btn2 по правому краю */
    }
}

