.page-footer {
  .container();
  position: relative;
  margin-top: 140px;
  margin-bottom: 73px;

  &__line-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 98px;
    margin-bottom: 60px;
  }

  &__line1,
  &__line2 {
    position: relative; /* Позиционирование для псевдоэлемента */
  }

  &__line1::after {
    content: "";
    background: linear-gradient(270.00deg, rgb(28, 27, 27), rgba(255, 255, 255, 0) 82.857%);
    width: 618px; /* Ширина линии */
    height: 2px; /* Высота линии */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; /* Позиция относительно родителя */
    top: 0; /* Позиция относительно родителя */
  }

  &__line2::after {
    content: ""; /* Псевдоэлемент требует контент */
    background: linear-gradient(135.00deg, rgb(28, 27, 27) 0%,rgba(255, 255, 255, 0) 100%);
    width: 618px; /* Ширина линии */
    height: 2px; /* Высота линии */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; /* Позиция относительно родителя */
    top: 0; /* Позиция относительно родителя */
  }

  &__info {
    display: grid;
    grid-template-columns: 323px 1fr 430px;
    height: 320px;
  }

  &__red-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    align-items: flex-start;
    li {
      font-size: 16px;
      font-family: @font1;
      color: @black;
    }
    a {
      font-weight: bold;
    }
  }

  &__red-list-link1 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
    list-style-type: none; /* Убирает маркеры списка */
    height: 198px;
    padding-left: 26px;
    gap: 22px;
  }

  &__link {
    &:hover {
      .text-hover(@black);
    }
  }

  &__red-list-link1::before { // Красная полоса слева
    content: "";
    position: absolute; /* Абсолютное позиционирование */
    left: 0; /* Позиция слева */
    top: 0; /* Позиция сверху */
    width: 4px; /* Ширина полосы */
    height: 100%; /* Высота на всю высоту родителя */
    background-color: @red; /* Цвет полосы */
  }

  &__input-field {
    flex: 1;
    height: 100%; /* Высота поля ввода */
    width: 275px;
    padding: 0 28px; /* Внутренние отступы по горизонтали */
    box-sizing: border-box;
  }

  &__red-list-link2 {
    list-style-type: none; /* Убирает маркеры списка */
    margin-bottom: 0px;
    align-items: flex-end;
    padding: 0px;
  }

  &__logo-mill {
    margin-bottom: 22px;
  }

  &__icons {
    display: flex;
    align-items: flex-end;
  }

  &__cooky {
    margin-right: 203px;
    &:hover {
      .text-hover(@black);
    }
  }

  &__svg {
    margin-right: 44px;
  }

  &__email-input {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 16px;
    font-family: @font1;
    font-weight: bold;
    margin-bottom: 14px;
  }
  &__email-enter {
    margin-bottom: 15px;
  }
  &__email {
    display:flex;
    flex-direction: row;
    margin-top: 14px;
    height: 49px;
  }

  &__input {
    .check_input();
  }

  &__mark {
    box-sizing: border-box; /* Учитывает границы и отступы в ширине и высоте */
    display: block; /* Делает элемент блочным */
    position: absolute; /* Позволяет свободно позиционировать элемент */
    //top: 157px; /* Позиция сверху */
    width: 24px; /* Ширина элемента */
    height: 24px; /* Высота элемента */
    border: 1px solid @black; /* Черная рамка вокруг элемента */
  }

  &__submit {
    box-sizing: border-box;
    width: 135px;
    height: 100%;
    background-color: @black;
    color: @white;
    font-family: @font1;
    font-size: 16px;
    cursor: pointer; /* Указывает, что элемент кликабельный */

    &:hover {
      border-color: @red; /* Цвет границы */
      background-color: @red;
      color: @white;
    }
  }

  &__check-label {
    margin-left: 39px;
  }

  &__logo {
    margin-top: auto;
    margin-left: auto;
  }

  &__logo-text {
    font-size: 16px;
    font-family: @font1;
    font-weight: bold;
  }

  &__icon {
    margin-left: 9px;
  }

  .check-error-message {
    label.error,
    span.error {
      margin-left: 45px; /* Отступ слева от метки */
    }
  }
}