.page-header {
  position: fixed; /* Фиксирует заголовок в верхней части окна */
  top: 0; /* Расположение вверху */
  left: 0; /* Расположение слева */
  width: 100%; /* Занимает 100% ширины экрана */
  height: 147px; /* Фиксированная высота заголовка */
  display: flex; /* Использует Flexbox для размещения элементов */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
  background-color: rgba(222, 222, 222, 0.98); /* Полупрозрачный фон */
  backdrop-filter: blur(20px); /* Эффект размытия фона */
  z-index: 100; /* Уровень наложения для обеспечения видимости над другими элементами */

  // Поддержка для эффекта размытия
  @supports (backdrop-filter: blur(20px)) {
    background-color: rgba(222, 222, 222, 0.5); /* Полупрозрачный фон */
    backdrop-filter: blur(20px); /* Применяет эффект размытия к фону */
  }

  &__container {
    box-sizing: border-box; /* Учитывает отступы и границы в общей ширине и высоте элемента */
    display: flex; /* Использует Flexbox для размещения дочерних элементов в строку */
    align-items: center; /* Выравнивание элементов по центру по вертикали */
    width: 100%; /* Занимает 100% ширины родительского элемента */
    max-width: 1414px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
    padding-left: 40px; /* Левый отступ */
    padding-right: 40px; /* Правый отступ */
  }

  &__logo {
    flex-shrink: 0; /* Запрещает уменьшение размера логотипа при сжатии контейнера */
    width: 202px; /* Ширина логотипа */
    height: 147px; /* Высота логотипа */
    font-size: 0; /* Убирает размер шрифта (если текст не нужен) */
    text-decoration: none; /* Убирает подчеркивание у ссылки */
  }

  &__logo-icon {
    width: 100%;
    height: 100%;
  }

  &__nav {
    display: flex;
    align-items: baseline; /* выравнивает элементы по их базовой линии */
    margin: 0 auto; /* центрирует навигацию в пределах родительского контейнера */
  }

  &__nav-link {
    margin: 0 25px; /* Отступы */
    color: #1f1e1e; /* Цвет текста */
    font-weight: 600; /* Жирность шрифта */
    font-size: 18px; /* Размер шрифта */
    line-height: 25px; /*  */
    text-decoration: none;
    transition: color 0.2s; /* добавляет плавный эффект изменения цвета при наведении */
  }

  &__nav-link:hover {
    color: #bc3324; /* Цвет при наведении */
  }

  &__right-block {
    display: flex; /* Использует Flexbox для расположения элементов внутри блока */
    justify-content: flex-end; /* Выравнивает элементы по горизонтали вправо */
    align-items: center; /* Выравнивает элементы по вертикали по центру */
    width: 202px; /* Устанавливает фиксированную ширину блока */
  }
}