.page-header {
  position: fixed; /* Фиксирует заголовок в верхней части окна */
  top: 0; /* Расположение вверху */
  left: 0; /* Расположение слева */
  width: 100%; /* Занимает 100% ширины экрана */
  height: 147px; /* Фиксированная высота заголовка */
  display: flex; /* Использует Flexbox для размещения элементов */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
  background-color: rgba(222, 222, 222, 0.98); /* Полупрозрачный фон */
  backdrop-filter: blur(20px); /* Эффект размытия фона */
  z-index: 100; /* Уровень наложения для обеспечения видимости над другими элементами */
  &__container {
    .container();
    display: flex;
    align-items: center;
  }
}