body {
  padding: 0; /* Убираем отступы */
  margin: 0; /* Убираем поля */
  background-color: @gray; /* Цвет фона */
  font-family: @font1; /* Шрифт приложения */
}

.table {
  width: 100%; /* Ширина таблицы */
  border-collapse: collapse; /* Объединение границ ячеек */
  color: @black; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  margin-bottom: 28px;
  &__tr {
    &:nth-child(2n-1) {
      background-color: fade(@black, 3%); /* Чередование фона для строк */
    }
  }
  &__th {
    height: 85px; /* Высота заголовка */
    font-weight: 600; /* Жирность шрифта */
    font-size: 18px; /* Размер шрифта */
    line-height: 25px; /* Высота строки */
  }
  &__footer-th {
    height: 60px; /* Высота нижнего заголовка */
    font-size: 0; /* Скрываем текст */
  }
  &__th,
  &__footer-th {
    box-sizing: border-box; /* Учет отступов в ширине */
    padding: 10px; /* Отступы внутри ячейки */
    border-right: 1px solid @gray_dark; /* Правая граница */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: none; /* Убираем правую границу для последней ячейки */
      padding-right: 0; /* Убираем отступ справа для последней ячейки */
    }
  }
  &__body-th {
    box-sizing: border-box; /* Учет отступов в ширине */
    height: 50px; /* Высота тела ячейки */
    padding: 10px 10px 10px 0; /* Отступы внутри ячейки */
    border-top: 1px solid @gray_dark; /* Верхняя граница */
    border-bottom: 1px solid @gray_dark; /* Нижняя граница */
    font-weight: 400; /* Обычная жирность шрифта */
    font-size: 18px; /* Размер шрифта */
    line-height: 25px; /* Высота строки */
    text-align: left; /* Выравнивание текста влево */
  }
  &__td {
    box-sizing: border-box; /* Учет отступов в ширине */
    height: 50px; /* Высота ячейки */
    padding: 10px; /* Отступы внутри ячейки */
    border: 1px solid @gray_dark; /* Граница ячейки */
    font-weight: 600; /* Жирность шрифта */
    font-size: 16px; /* Размер шрифта */
    line-height: 22px; /* Высота строки */

    &:last-child {
      border-right: none; /* Убираем правую границу для последней ячейки */
      padding-right: 0; /* Убираем отступ справа для последней ячейки */
    }
  }
}

.ok {
  display: block; /* Отображение как блок */
  position: relative; /* Относительное позиционирование */
  width: 26px; /* Ширина элемента */
  height: 26px; /* Высота элемента */
  margin: auto; /* Центрирование элемента */
  border-radius: 50%; /* Круглая форма */
  background-color: @black; /* Цвет фона элемента */
  &::after {
    content: ""; /* Псевдоэлемент */
    box-sizing: border-box; /* Учет отступов в ширине */
    display: block; /* Отображение как блок */
    position: absolute; /* Абсолютное позиционирование */
    top: 4px; /* Отступ сверху */
    left: 9px; /* Отступ слева */
    width: 8px; /* Ширина псевдоэлемента */
    height: 14px; /* Высота псевдоэлемента */
    border-right: 2px solid @white; /* Правая граница */
    border-bottom: 2px solid @white; /* Нижняя граница */
    transform: rotate(45deg); /* Поворот на 45 градусов */
  }
}